<section class="section hero-section" id="projects">
    <div class="hero container">

        <div class="swiper hero-swiper-container">
            <ul class="swiper-wrapper hero-swiper-wrapper">
                <!-- 1 Slide -->
                <li class="swiper-slide hero-swiper-slide hero-slide-1" data-bg="./img/1.png">
  <div class="hero-info">
    <h1 class="hero-title section-heading">
      <span class="hero-title-decor">Luxurious cakes & desserts</span><br>
      for your most <br>special moments
    </h1>
    <p class="hero-name">
      Handcrafted in Ipswich, made with premium ingredients and<br>
      designed to impress. Explore our cakes, desserts, and gifts.
    </p>
  </div>
</li>
                <!-- 2 Slide -->
                 <li class="swiper-slide hero-swiper-slide hero-slide-2" data-bg="./img/2.png">
  <div class="hero-info">
    <h1 class="hero-title section-heading">
      <span class="hero-title-decor">Luxurious cakes & desserts</span><br>
      for your most <br>special moments
    </h1>
    <p class="hero-name">
      Handcrafted in Ipswich, made with premium ingredients and<br>
      designed to impress. Explore our cakes, desserts, and gifts.
    </p>
  </div>
</li>
                <!-- 3 Slide -->
                <li class="swiper-slide hero-swiper-slide hero-slide-3" data-bg="./img/3.png">
  <div class="hero-info">
    <h1 class="hero-title section-heading">
      <span class="hero-title-decor">Luxurious cakes & desserts</span><br>
      for your most <br>special moments
    </h1>
    <p class="hero-name">
      Handcrafted in Ipswich, made with premium ingredients and<br>
      designed to impress. Explore our cakes, desserts, and gifts.
    </p>
  </div>
</li>
                <!-- 4 Slide -->
               <li class="swiper-slide hero-swiper-slide hero-slide-4" data-bg="./img/4.png">
  <div class="hero-info">
    <h1 class="hero-title section-heading">
      <span class="hero-title-decor">Luxurious cakes & desserts</span><br>
      for your most <br>special moments
    </h1>
    <p class="hero-name">
      Handcrafted in Ipswich, made with premium ingredients and<br>
      designed to impress. Explore our cakes, desserts, and gifts.
    </p>
  </div>
</li>
            </ul>
            <!-- Buttons js -->
            <div class="swiper-btn-wrapper" >
                <button class="swiper-btn swiper-btn-prev hero-swiper-left" type="button"
                    aria-label="Previous slide">
                    <svg class="swiper-btn-icon" width="24" height="24">
                        <use href="./img/btn-icons.svg#icon-btn-left"></use>
                    </svg>
                </button>
                <button class="swiper-btn swiper-btn-next hero-swiper-right" type="button" aria-label="Next slide">
                    <svg class="swiper-btn-icon" width="24" height="24">
                        <use href="./img/btn-icons.svg#icon-btn-right"></use>
                    </svg>
                </button>
            </div>
        </div>
    </div>
</section>