/* Mobile */
.hero-title {
    margin-bottom: 32px;
    font-family: Inter Tight;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: -0.02em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #ae393966;
}

.hero-swiper-wrapper {
    margin-bottom: 32px;
    display: flex;
}

/* for css (for remove after js)*/
.hero-swiper-slide {
    min-width: 100%;
}

.hero-info {
    background: #fafafa;
    padding: 32px;
    border-radius: 24px 24px 0px 0px;
}

.hero-tags-list {
    margin-bottom: 96px;

    display: flex;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    gap: 6px;
    flex-wrap: wrap;
}

.hero-tag {
    display: flex;

    padding: 13px 18px;
    justify-content: center;
    align-items: center;

    border-radius: 60px;
    border: 1px rgba(28, 29, 32, 0.2) solid;
}

.hero-tag-text {
    color: #1c1d20;
    letter-spacing: -0.32px;
}

.hero-name {
    margin-bottom: 32px;
    color: #1c1d20;
    font-size: 24px;
    line-height: 116.667%;
    letter-spacing: -0.72px;
}

.hero-link-button {
    display: inline-flex;
    width: 141px;
    height: 45px;
    padding: 13px 32px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: #ED3B44;
    color: #fafafa;
    font-size: 16px;
    letter-spacing: -0.32px;

    border-radius: 60px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-link-button:hover {
    transform: scale(0.95);
    background-color: #E0373F;
}

.hero-visual {
    padding: 100px 16px;
    background-color: #242527;
    border-radius: 0px 0px 24px 24px;

}

.swiper-slide.project-swiper-slide {
    display: flex;
    flex-direction: column;
}

.swiper-btn-wrapper {
    display: flex;
    justify-content: center;
    gap: 12px;
}

.swiper-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(250, 250, 250, 0.5);
    border-radius: 60px;
    background: none;
    width: 52px;
    height: 52px;
    transition: border-color 250ms linear;
    opacity: 1;
    pointer-events: all;
    transition: opacity 0.3s ease;
}

.swiper-btn:focus {
    border-color: rgba(250, 250, 250, 1);
}

.swiper-btn:disabled {
    border-color: rgba(250, 250, 250, 0.2);
    opacity: 0.5;
    pointer-events: none;
}

.swiper-btn-icon {
    stroke: #fafafa;
    fill: none;
    transition: transform 250ms linear, stroke 250ms linear;
}

.swiper-btn:focus .swiper-btn-icon {
    transform: scale(1.2);
}

.swiper-btn:disabled .swiper-btn-icon {
    stroke: #3b3b3b;
}

.hero-title-decor {}

/* Tablet */
@media screen and (min-width: 768px) {
    .hero-swiper-wrapper {
        margin-bottom: 64px;
    }

    .hero-info {
        padding: 64px;
    }

    .hero-tags-list {
        margin-bottom: 164px;
    }

    .hero-tag {
        padding-top: 18px;
        padding-bottom: 18px;
    }

    .hero-name {
        font-size: 44px;
        line-height: 100%;
        letter-spacing: -1.32px;
    }

    .hero-link-button {
        padding: 18px 50px;
        width: 177px;
        height: 55px;
    }

    .hero-visual {
        padding: 120px 45px;
    }

    .swiper-btn-wrapper {
        gap: 20px;
    }

    .swiper-btn {
        width: 68px;
        height: 68px;
    }

    .swiper-btn-icon {
        width: 32px;
        height: 32px;
    }

    .hero-image {
        width: 614px;
        height: 385px;
    }

    .hero-title-decor {}
}

/* Desktop */
@media screen and (min-width: 1920px) {
    .hero .container {
        max-width: 1376px;
        margin: 0 auto;
    }

    .swiper-slide.project-swiper-slide {
        flex-direction: row;
    }

.hero-swiper {
  width: 100%;
  height: 100vh; /* або потрібна висота */
}

.hero-slide {
  width: 100%;
  height: 100vh;
  background-size: cover, cover;
  background-position: center, center;
  background-repeat: no-repeat, no-repeat;
}
    .hero-info {
        width: 688px;
        border-radius: 24px 0px 0px 24px;
    }

    .hero-tags-list {
        margin-bottom: 223px;
    }

    .hero-visual {
        padding-right: 37px;
        padding-left: 37px;
        width: 688px;
        border-radius: 0px 24px 24px 0px;
    }

    .swiper-btn:hover:not(:disabled) {
        border-color: rgba(250, 250, 250, 1);
    }

    .swiper-btn:hover:not(:disabled) .swiper-btn-icon {
        transform: scale(1.2);
    }

    .hero-title-decor {}
}