/* Mobile
.hero-section {
  background-image: url(../img/fon1.png);        
        background-size: cover; 
        background-position: center; 
        background-repeat: no-repeat;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        position: absolute;
      inset: 0;
      z-index: 0;
      
}

.hero {}



.hero-swiper-container {
 
  
}

.hero-swiper-wrapper {
    margin-bottom: 32px;
    display: flex;
    
} */ */

/* for css (for remove after js)*/
/* .hero-swiper-slide {
  height: 100vh;
  width: 100%;
} */



/* 


.swiper-slide.hero-swiper-slide {
    display: flex;
    flex-direction: column;
}

.swiper-btn-wrapper {
    display: flex;
    justify-content: center;
    gap: 12px;
}

.swiper-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(250, 250, 250, 0.5);
    border-radius: 60px;
    background: none;
    width: 52px;
    height: 52px;
    transition: border-color 250ms linear;
    opacity: 1;
    pointer-events: all;
    transition: opacity 0.3s ease;
}

.swiper-btn:focus {
    border-color: rgba(250, 250, 250, 1);
}

.swiper-btn:disabled {
    border-color: rgba(250, 250, 250, 0.2);
    opacity: 0.5;
    pointer-events: none;
}

.swiper-btn-icon {
    stroke: #fafafa;
    fill: none;
    transition: transform 250ms linear, stroke 250ms linear;
}

.swiper-btn:focus .swiper-btn-icon {
    transform: scale(1.2);
}

.swiper-btn:disabled .swiper-btn-icon {
    stroke: #3b3b3b;
}  */



/* Tablet */
/* @media screen and (min-width: 768px) {
    .hero-swiper-wrapper {
        margin-bottom: 64px;
    }

    .hero-info {
        padding: 64px;
    }

    .hero-name {
        font-size: 44px;
        line-height: 100%;
        letter-spacing: -1.32px;
    }

    .swiper-btn-wrapper {
        gap: 20px;
    }

    .swiper-btn {
        width: 68px;
        height: 68px;
    }

    .swiper-btn-icon {
        width: 32px;
        height: 32px;
    }

    .hero-image {
        width: 614px;
        height: 385px;
    }

    .hero-title-decor {}
} */

/* Desktop */
/* @media screen and (min-width: 1920px) { */
/* .hero .container {
        width: 1920px;
        margin: 0 auto;
    } */
.hero-section {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.hero-section::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url('../img/fon1.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 0;
  
}

.hero-swiper-slide {
  position: relative;
  z-index: 1;
}

.hero-swiper-slide::after {
  content: "";
  position: absolute;
  inset: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: var(--slide-bg);
  opacity: 0,8; 
  z-index: 1;
  pointer-events: none;
}



.hero-info {
    position: relative; 
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 688px;
  padding: 32px;
  border-radius: 24px;
  background: transparent;
  
}

.hero-slide-img {
  width: 100%;
  max-width: 688px;
  height: auto;
  margin-bottom: 32px;
  border-radius: 12px;
}

.hero-title {
  font-family: Bebas Neue;
  font-size: 120px;
  font-weight: 400;
text-shadow: 0 4px 56px 0 rgba(0, 0, 0, 0.6);
color: #fff;
max-width: 802px;
}

.hero-title-decor {
  font-family: Hurricane;
  font-weight: 400;
  font-size: 89px;
  color: #fae6aa;
 
}

.hero-name {
     font-family: Arimo;
    font-size: 24px;
    font-weight: 400;
    line-height: 1.4;
    color: #fff;
    width: 100%;
    max-width: 737px;
}

.swiper-slide.project-swiper-slide {
        flex-direction: row;
    }

.hero-swiper {
  width: 100%;
  height: 100vh; 
}
    .swiper-btn:hover:not(:disabled) {
        border-color: rgba(250, 250, 250, 1);
    }

    .swiper-btn:hover:not(:disabled) .swiper-btn-icon {
        transform: scale(1.2);
    }


